<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h3>edit your chat</h3>
    <p>
        this chat was sent by    <%=chat.from %>  to  <%=chat.to %>
    </p>
    <form method="POST" action="/chat/<%=chat.id %>?_method=PUT"> 
        <textarea name="msg" rows="5" cols="50"><%=chat.msg%></textarea>
        <br>
        <button>edit</button>
    </form>
</body>
</html>